.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    margin-bottom: 1rem;
    color: #2f4858;
}

.finished-container {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}