<div class="wrapper">
    @if (!saidYes) {
        <div class="container">
            <h1 class="header">Will you be my valentine?</h1>
            <div class="buttons-container">
                @if (showNo) {
                    <app-dark-button
                        (click)="noClicked()"
                        [text]="noText"
                    ></app-dark-button>
                }
                <app-heart-button
                    [ngStyle]="{
                        transform: 'scale(' + multiplier + ')'
                    }"
                    text="Yes!"
                    (click)="submitClick()"
                >
                </app-heart-button>
            </div>
        </div>
    } @else {
        <div class="finished-container">
            <h1 class="header">Yay!!!</h1>
            <img src="https://media1.tenor.com/m/G9owpGP34PIAAAAd/jumping-for-joy-jumping.gif" alt="gif">
            @if (days || hours || minutes || seconds) {
                <h3 class="header">{{ days }} days {{ hours }} hours {{ minutes }} minutes {{ seconds }} seconds untill date!</h3>
            }
        </div>
    }
</div>