main {
    height: 100vh;
    background: #ecffc1;
    background: -webkit-linear-gradient(130deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
    background: linear-gradient(130deg, #ecffc1 0%, #ffe6cc 50%, #dfbaf7 100%);
}